body {
    background: #f4f4f4;
    background-color: #333333;
    /* max-width: 600px; 
    margin-left: auto;
    margin-right: auto; */
    text-decoration: none;
    font-family: "Batang"
		
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h2 {
    text-decoration: none;
}

h1, h2 {
    /*text-align: center;*/
}

h4 {
    /*text-align: center;*/
    text-decoration: none;
}


.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
/*    background: #eee; */
    overflow-x: hidden;
    padding: 8px 0;
    background-color: #000000
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /*font-size: 25px; */
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    background-color: #04AA6D;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    /*font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #008f39;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #0b6730;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #008f39;
    color: white;
    font-weight: bold;
}

.title {
   /* background-color: #f4f4f4;*/
    text-align: center;
    color: white;
}

.register {
    text-align:center;
  }
  
.footer {
    color: #696969
}



td {
    text-align: center;
}

table {
    width: 100%;
    background-color: #f2f2f2;
    border-collapse: collapse;
	text-align:center;
}

th {
  background-color: #04AA6D;
  color: white;
}


@font-face {
    font-family: 'BATANG'; /* A name you choose for the font */
    src: url('fonts/BATANG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	  }
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    /*.sidenav a {font-size: 18px;}
}

